{% extends "oscar/checkout/checkout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Payment methods" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'oscar/checkout/nav.html' with step=3 %}
{% endblock %}

{% block checkout_title %}{% trans "Select payment method" %}{% endblock %}

{% block payment_method %}
    <form method="post" action="{% url 'montonio_payment:payment-details' %}">
        {% csrf_token %}
        <h4>{% trans "Choose your bank" %}</h4>
        <ul>
            {% for method, details in payment_methods.items %}
                {% if method == 'paymentInitiation' %}
                    {% for bank in details.setup.LT.paymentMethods %}
                        <li>
                            <label>
                                <input type="radio" name="selected_bank_code" value="{{ bank.code }}"
                                    {% if selected_bank_code == bank.code %}checked{% endif %}>
                                <img src="{{ bank.logoUrl }}" alt="{{ bank.name }}" width="100">
                                {{ bank.name }}
                            </label>
                        </li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ul>
		<pre>{{ payment_methods | safe }}</pre>  <!-- Patikriname, kas gaunama iš serverio -->
        <pre>{{ selected_bank_code | safe }}</pre> <!-- Patikriname sesijos duomenis -->
        <button type="submit" class="btn btn-primary">{% trans "Continue to Order Preview" %}</button>
    </form>
{% endblock %}
