{% extends "oscar/checkout/checkout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Order preview" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'oscar/checkout/nav.html' with step=4 %}
{% endblock %}

{% block checkout_title %}
    {% trans "Preview order" %}
{% endblock %}

{% block place_order %}
    <form method="post" action="{% url 'montonio_payment:preview' %}" id="place_order_form">
        {% csrf_token %}
        <input type="hidden" name="action" value="place_order" />

        <div>
             <h4>{% trans "Selected Bank" %}</h4>
			 {% if bank_logo %}
             <img src="{{ bank_logo }}" alt="{{ bank_name }}" style="max-width: 50px;">
            {% endif %}
            <!-- Rodykite banko pavadinimą -->
            <p>{{ bank_name }}</p>
            <p style="visibility: hidden;">{{ selected_bank_code }}</p>
        </div>

        <div class="form-group clearfix">
            <div class="row">
                <div class="col-sm-3 offset-sm-9">
                     <button id='place-order' type="submit" class="btn btn-primary btn-lg btn-block" data-loading-text="{% trans 'Submitting...' %}">{% trans "Place order" %}</button>
                </div>
            </div>
        </div>
    </form>
{% endblock place_order %}
